.App {
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop {
  width: 1170px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.shop h3 {
  margin: 5px 0;
}

a {
  all: unset;
  cursor: pointer;
}
